{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <h1>{{ episode.title }}</h1>

    <a href="{{ path('program_episode_edit', {'program': episode.program.id, 'season': episode.season.id, 'id': episode.id}) }}">edit</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
