{% extends 'base.html.twig' %}

{% block title %}{{ episode.title }}{% endblock %}

{% block body %}
    <h1>{{ episode.title }}</h1>

    <a href="{{ path('program_episode_edit', {'programSlug': episode.program.slug, 'season': episode.season.id, 'episodeSlug': episode.slug}) }}">edit</a>

    {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
